html {
	margin: auto;
}
body {
	background-image: url(images/navy_blue.png);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 18px;
	color: #333;
	margin: auto;
	text-align: center;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #333333; 	
}

ul, li {
	list-style-type: none;
}

#container {
	background-image: url(images/swirl.png);
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 75%;
	height: 75%;
	margin: auto;
}

#welcome {
	margin: auto;
	width: 80%;
}

#pic {
	width: 75%;
}