<!Doctype HTML>
<html>
  <head>
    <title>President Game</title>

    <meta name="author" content="Luke, Ryan and Facundo">
    <meta name="description" content="President Game">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"/>
    <script src="/static/jquery-1.8.2.mins.js"></script>
    <script src="/static/president-game.js"></script>
  </head>

  
  <body>
    <div id="container">
      <!-- Welcome Page -->
            <h1>The President Game</h1>
      <div id="welcome">

	<p>You have three seconds to look at a picture of a president of the United States and then you have to figure out which president was depicted. This is a game that can be played on any mobile device. Click the start button to begin.</p>

	<p id="start" class="button orange">Start</p>
	
      </div>

      <!-- Game Picture -->
      <div id="part1">
	<div id="pic"> </div>
	<div id="countdown"></div>
      </div>

      <!-- Game Options -->
      <div id="part2">
	
	<span>Which President was just shown?</span>
	<ul>
	  <li><p class="option1 button orange"></p></li>
	  <li><p class="option2 button orange"></p></li>
	  <li><p class="option3 button orange"></p></li>
	  <li><p class="option4 button orange"></p></li>
	</ul>
	
      </div>
    </div>

  </body>



  <footer>
    <p style="font-size:12px;">Ballers: | Ryan | Facundo | Luke | </p>
  </footer>
</html>










